{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {"modules": false}]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@loadable/babel-plugin",
    "@babel/plugin-proposal-class-properties"
  ]
}
